<li
    class="list-group-item col-xs-12 grey-shade"
    > 
    <!-- <h4>{{orderItem.customerName}}</h4> -->

        <h4 class="list-group-item-heading">{{orderItem.customerName}}</h4>
        <p class="list-group-item-text">{{orderItem.noOfItems}}</p>
        <p class="list-group-item-text">{{orderItem.totalAmount}}</p>
        <p class="list-group-item-text">{{orderItem.statusOfOrder}}</p>
        <button 
        class="btn btn-outline-secondary custom-btn-style" 
        (click)="changeOrderStatus()"
        [disabled]="orderItem.statusOfOrder === 'Ready to serve'">Change Order Status</button>
        &nbsp;&nbsp;
        <button class="btn btn-secondary" (click)="showOrderDetails()">View Details</button>
   
</li>
