<h5>Form comes here with relevant fields to place an order</h5>

<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
            <div id="user-data">
                <div class="form-group">
                    <label for="username">Name</label>
                    <input type="text" id="custName" class="form-control" ngModel name="custNameame">
                </div>
            </div>
            <div class="form-group">
                <label for="secret">Select the type of pizza you want to have from the dropdown</label>
                <select id="secret" class="form-control" ngModel name="secret">
                  <option value="chicken">Chicken Pizza</option>
                  <option value="veg">Veg Pizza</option>
                  <option value="chesse">Cheese Pizza</option>
                  <option value="egg">Egg Pizza</option>
                </select>
            </div>
            <br>
            <button class="btn btn-success btn-lg" type="submit">Place Order</button>
        </form>
    </div>
</div>