<div class="container">
    <app-navbar></app-navbar>
  <div class="row" style="padding-left: 2rem; padding-top: 1.5rem;">
    <div>
      <!-- <app-home></app-home> -->
      <p>Lorem ipsum has become the industry standard for design mockups and prototypes. By adding a little bit of Latin to a mockup, you’re able to show clients a more complete version of your design without actually having to invest time and effort drafting copy.</p>
    </div>
  </div>
  <div class="row">
    <div>
      <!-- <app-users></app-users> -->
    </div>
  </div>
</div>
